@if (isSmall()) {
  <div
    class="h-[9vh] fixed top-0 left-0 z-90 w-full border-b border-b-(--color-gray) bg-(--color-bg)"
  >
    <span
      class="absolute top-0 left-0 w-full h-screen scale-y-0 origin-top bg-neutral-900 z-100"
      #overlay
    ></span>

    <div class="max-w-300 h-full mx-auto flex items-center justify-between px-[4%]">
      <app-logo />

      <button class="relative z-300" (click)="toggleMenu()" #toggleBtn>
        @if (isMenuOpen()) {
          <svg viewBox="0 0 24 24" class="w-7 h-7">
            <path
              d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
              fill="white"
            />
          </svg>
        } @else {
          <svg viewBox="0 0 24 24" class="w-7 h-7">
            <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" fill="white" />
          </svg>
        }
      </button>

      <nav
        class="flex-col items-center justify-center gap-5 absolute top-0 left-0 w-full h-screen z-200 hidden"
        #nav
      >
        @for (item of menuItems; track $index) {
          <span class="overflow-hidden">
            <a
              routerLink="/{{ item }}"
              routerLinkActive="text-(--color-lime) underline"
              class="text-2xl hidden uppercase font-semibold translate-y-96"
              (click)="toggleMenu()"
              #anim
            >
              {{ item }}
            </a>
          </span>
        }
      </nav>

      <div class="flex items-center gap-2">
        <app-blinker />
        <p class="text-(--color-gray) italic text-sm">Available for work</p>
      </div>
    </div>
  </div>
} @else {
  <div
    class="h-[9vh] fixed top-0 left-0 z-90 w-full border-b border-b-(--color-gray) bg-(--color-bg)"
  >
    <div class="max-w-300 h-full mx-auto flex items-center justify-between px-[4%]">
      <app-logo />

      <nav class="flex items-center gap-5">
        @for (item of menuItems; track $index) {
          <span class="overflow-hidden">
            <app-custom-btn routerLink="/{{ item }}" [isActive]="router.url.includes(item)">
              {{ item }}
            </app-custom-btn>
          </span>
        }
      </nav>

      <div class="flex items-center gap-2">
        <app-blinker />
        <p class="text-(--color-gray) italic text-sm">Available for work</p>
      </div>
    </div>
  </div>
}
