<div class="pt-[9vh]">
  <div class="sm:h-[31vh] max-h-full flex flex-col items-start gap-5 sm:gap-10 sm:flex-row sm:items-end p-4 sm:p-7">
    <h1 class="uppercase font-bold text-7xl leading-15">
      <span class="inline-block overflow-hidden">
        <span class="anim__elem inline-block font-changa">selected</span>
      </span>
      <br />
      <span class="inline-block overflow-hidden">
        <span class="text-(--color-lime) anim__elem inline-block font-changa">works</span>
      </span>
    </h1>
    <div class="overflow-hidden">
      <small class="italic text-(--color-gray) anim__elem inline-block leading-4">2025—2026 / 04 projects</small>
    </div>
  </div>

  @if (isSmall()) {
    <div class="pb-10 px-4 sm:px-auto grid grid-cols-1 sm:grid-cols-2 gap-7">
        @for (project of projectService.projects(); track project.id) {
          <div
            class="w-full h-70 card relative overflow-hidden"
          >
            <a
              routerLink="/project/{{ project.id }}"
              class="block w-full h-full rounded-sm border border-(--color-border)"
              style="cursor: inherit"
            >
              <img
                class="w-full h-full object-cover rounded-sm select-none"
                src="works/{{ project.thumbnail }}"
                alt="{{ project.name }}"
              />
              <div
                class="absolute left-1 bottom-1"
              >
                <small class="text-(--color-lime) italic">
                  0{{ project.id }} / 0{{ projectService.projects().length }} — {{ project.year }}
                </small>
                <h2 class="font-bold text-2xl capitalize">{{ project.name }}</h2>
                <div class="flex items-center gap-2 flex-wrap mt-2">
                  @for (tag of [0, 1, 2]; track $index) {
                    <span
                      class="border border-(--color-lime) text-(--color-lime) text-[10px] uppercase px-1"
                    >
                      {{ project.tags[tag] }}
                    </span>
                  }
                </div>
              </div>
            </a>
          </div>
        }
    </div>
  }
  @else {
    <div
      class="overflow-hidden w-screen h-[51vh] max-h-125 relative select-none mb-auto cursor-grab"
      style="scrollbar-width: none"
      appDragScroll
    >
      <div class="absolute inset-0 track">
        @for (project of projectService.projects(); track project.id) {
          <div
            class="w-70 h-full min-w-70 group card absolute top-1/2 overflow-visible"
            [attr.data-id]="project.id"
          >
            <a
              routerLink="/project/{{ project.id }}"
              draggable="false"
              class="block w-full h-full rounded-sm border border-(--color-border) anim__elem"
              style="cursor: inherit"
            >
              <img
                draggable="false"
                class="w-full h-full rounded-sm object-cover select-none saturate-0 group-hover:saturate-100 transition-saturate duration-300"
                src="works/{{ project.thumbnail }}"
                alt="{{ project.name }}"
              />
              <div
                class="absolute left-1 -bottom-100 group-hover:bottom-1 transition-bottom duration-400 ease-in-out"
              >
                <small class="text-(--color-lime) italic">
                  0{{ project.id }} / 0{{ projectService.projects().length }} — {{ project.year }}
                </small>
                <h2 class="font-bold text-2xl capitalize">{{ project.name }}</h2>
                <div class="flex items-center gap-2 flex-wrap mt-2">
                  @for (tag of [0, 1, 2]; track $index) {
                    <span
                      class="border border-(--color-lime) text-(--color-lime) text-[10px] uppercase px-1"
                    >
                      {{ project.tags[tag] }}
                    </span>
                  }
                </div>
              </div>
            </a>
          </div>
        }
      </div>
    </div>

    <div class="flex items-center gap-2 mt-3 mx-4 ml-auto w-fit">
      <span class="inline-block h-0.5 w-17 bg-(--color-gray) anim"></span>
      <small class="uppercase text-(--color-gray) text-xs">drag to explore</small>
    </div>
  }
</div>
